---
const {variant, size} = Astro.props; 
---

<button>< slot/></button>

<style>
    button{
        padding:1rem;
    }
    .primary {
        background-color: red;
    }
    .secondary {
        background-color:red;
    }
</style>